@page "/customer-care/communications"

<PageTitle>Customer Care Communications</PageTitle>

<h1>Customer Care Communications</h1>
<p>Placeholder page for customer and worker communication threads.</p>
